<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
      layout:decorate="~{layout.html}"
>
<section layout:fragment="content" class="page-content-wrapper">
    <div class="card" th:style="${(#lists.isEmpty(modules))} ? 'border-bottom: none;' : ''">
        <div th:if="${message != null}" th:text="${message}" class="alert alert-secondary">
        </div>
        <div class="card-header d-flex justify-content-between">
            <h1 class="h1">Lista de Modulos</h1>
            <section>
                <a
                  th:href="@{~/dashboard/tools/modulos/adicionar}"
                  class="btn btn-secondary btn-sm" >
                    Adicionar Módulo
                </a>
                <a
                  th:href="@{~/dashboard/tools/estagio/adicionar}" class="btn btn-secondary btn-sm">
                    Adicionar Estágio
                </a>
            </section>
        </div>
        <div class="card-body">
            <div th:if="${#lists.isEmpty(modules)}" class="d-flex justify-content-center row">
                <img th:src="@{~/public/img/bankrupt.png}" style="width: 40%; max-width: 200px;"/>
                <p class="h4 text-center"> Não há nada aqui</p>
            </div>
            <table th:if="${not #lists.isEmpty(modules)}" class="table table-striped">
                <thead>
                <tr>
                    <td>Nome</td>
                    <td>Estágio</td>
                    <td>Ação</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="module : ${modules}">
                    <td th:text="${module.name}" width="65%"/>
                    <td th:text="${module.stage.name}"/>
                    <td>
                        <a class="btn btn-secondary" th:href="@{~/dashboard/tools/modulos/editar(id=${module.id})}"> Editar</a>
                        <a class="btn btn-dark" th:href="@{~/dashboard/tools/modulos/excluir(id=${module.id})}"> Excluir</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>